




          <h4 class="account-nav__title">Navigation</h4>
          <ul class="account-nav__list">
            <li class="account-nav__item ">
             <!-- <a (click)="gotodashbord()">Dashboard</a></li>-->

              <a routerLink="/All4MyCar/prestataire/espace-prestataire/dashboardpres"  routerLinkActive=" account-nav__item--active">Dashboard</a>



              <li class="account-nav__item" (click)="gotogarage()"><a routerLink="/All4MyCar/prestataire/espace-prestataire/garage" routerLinkActive=" account-nav__item--active" >Garage</a></li>
              <li class="account-nav__item" (click)="gotoprofilpres()"  ><a routerLink="/All4MyCar/prestataire/espace-prestataire/profilpres"  routerLinkActive=" account-nav__item--active" >Edit Profile</a></li>
              <li class="account-nav__item" (click)="gotodisponibilte()"><a routerLink="/All4MyCar/prestataire/espace-prestataire/disponibilte"  routerLinkActive=" account-nav__item--active">Disponibilté</a></li>
              <li class="account-nav__item"><a >Password</a></li>
              <li class="account-nav__divider" role="presentation"></li><li class="account-nav__item"><a>Logout</a></li></ul>







