<div class="card">
  <div class="card-header">
      <h5>Disponibilté</h5>
  </div>
  <div class="card-divider"></div>
  <div class="card-body card-body--padding--2">

      <form novalidate [formGroup]="form" #fform="ngForm" >
          <div class="row no-gutters">
              <div class="container">
                  <div class="row">
                    <div class="col-2">
                  <mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(11)" [(ngModel)] ="isShown11" class="example-margin" formControlName="jour">Lundi</mat-checkbox>
              </div>
                  <div class="col-3" *ngIf="isShown11"   >
                    heure debut 
                    <p-calendar  formControlName="heuredm0" [timeOnly]="true"></p-calendar>
                     heure fin 
                     <p-calendar  formControlName="heurefm0" [timeOnly]="true"></p-calendar>
</div>
<div *ngIf="isShown11" class="col-2">
  <mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(12)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown12" class="example-margin">2eme periode</mat-checkbox>
</div>
  <div class="col-3" *ngIf="isShown12"   >
      heure debut            
      <p-calendar  formControlName="heuredam0" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefam0" [timeOnly]="true"></p-calendar>
</div>

<br>
</div>




<div _ngcontent-oxi-c117="" class="vehicle-form__divider"></div>

<div class="row">
  <div class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(21)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown21" class="example-margin">Mardi</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown21"   >
heure debut  <p-calendar  formControlName="heuredm1" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefm1" [timeOnly]="true"></p-calendar>
</div>
<div *ngIf="isShown21" class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(22)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown22" class="example-margin">2eme periode</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown22"   >
heure debut  <p-calendar  formControlName="heuredam1" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefam1" [timeOnly]="true"></p-calendar>

</div>

</div>




<div _ngcontent-oxi-c117="" class="vehicle-form__divider"></div>

<div class="row">
  <div class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(31)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown31" class="example-margin">Mercredi</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown31"   >
heure debut  <p-calendar  formControlName="heuredm2" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefm2" [timeOnly]="true"></p-calendar>

</div>
<div *ngIf="isShown31" class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(32)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown32" class="example-margin">2eme periode</mat-checkbox>
</div>

<div class="col-3" *ngIf="isShown32"  >
heure debut <p-calendar  formControlName="heuredam2" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefam2" [timeOnly]="true"></p-calendar>

</div>

</div>




<div _ngcontent-oxi-c117="" class="vehicle-form__divider"></div>

<div class="row">
  <div class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(41)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown41" class="example-margin">Jeudi</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown41"   >
heure debut  <p-calendar  formControlName="heuredm3" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefm3" [timeOnly]="true"></p-calendar>
</div>
<div *ngIf="isShown41" class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(42)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown42" class="example-margin">2eme periode</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown42"   >
heure debut  <p-calendar  formControlName="heuredam3" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefam3" [timeOnly]="true"></p-calendar>

</div>

</div>




<div _ngcontent-oxi-c117="" class="vehicle-form__divider"></div>

<div class="row">
  <div class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(51)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown51" class="example-margin">Vendredi</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown51"   >
heure debut  <p-calendar  formControlName="heuredm4" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefm4" [timeOnly]="true"></p-calendar>

</div>
<div *ngIf="isShown51" class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(52)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown52" class="example-margin">2eme periode</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown52"   >
heure debut  <p-calendar  formControlName="heuredam4" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefam4" [timeOnly]="true"></p-calendar>

</div>

</div>




<div _ngcontent-oxi-c117="" class="vehicle-form__divider"></div>

<div class="row">
  <div class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(61)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown61" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown61" class="example-margin">Samedi</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown61"   >
heure debut  <p-calendar  formControlName="heuredm5" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefm5" [timeOnly]="true"></p-calendar>

</div>
<div *ngIf="isShown61" class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(62)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown62" class="example-margin">2eme periode</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown62"   >
heure debut  <p-calendar  formControlName="heuredam5" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefam5" [timeOnly]="true"></p-calendar>

</div>

</div>




<div _ngcontent-oxi-c117="" class="vehicle-form__divider"></div>

<div class="row">
  <div class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(71)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown71" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown71" class="example-margin">Dimanche</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown71"   >
heure debut  <p-calendar  formControlName="heuredm6" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefm6" [timeOnly]="true"></p-calendar>
</div>
<div *ngIf="isShown71" class="col-2">
<mat-checkbox (click)="clicked()" (ngModelChange)="toggleShow(72)" [ngModelOptions]="{standalone: true}" [(ngModel)] ="isShown72" class="example-margin">2eme periode</mat-checkbox>
</div>
<div class="col-3" *ngIf="isShown72"   >
heure debut  <p-calendar  formControlName="heuredam6" [timeOnly]="true"></p-calendar>
heure fin 
<p-calendar  formControlName="heurefam6" [timeOnly]="true"></p-calendar>

</div>

</div>


              </div>
          </div>
          <div class="col text-right">
          <button  (click)="onsubmittt()" mat-button
class="btn btn-outline-danger mt-3 ">Sauvegarder</button>
</div>
      </form>
  </div>
</div>