.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-full-width {
  width: 40%;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
