<div class="block-header block-header--has-breadcrumb block-header--has-title">
  <div class="container">
    <div class="block-header__body">

      <h1 class="block-header__title">Carnet d'entretiens
      </h1>
    </div>
  </div>
</div>

<div class="block">
<div class="bodyy">
<div class="containerr">
    <a class="boxx" href="javascript:void(0)">
    <div class="iconn">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-closed-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
    </div>
    <div class="content">
    <h3><strong>Remplir carburant</strong></h3>
    <p> remplir le formulaire a chague fois vous passer au kiosque</p>
    </div>
  </a>


        <a (click)="afficherentretiendialog()" class="boxx" href="javascript:void(0)">
        <div class="iconn">

            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tools" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
                <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
              </svg>
        </div>
        <div class="content">
        <h3><strong>Ajouter entretien</strong></h3>
        <p> ajouter les prestations effectuer a votre vehicules </p>
        </div></a>


            <a class="boxx" href="javascript:void(0)">
            <div class="iconn"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
                <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
                <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
              </svg></div>
            <div class="content">
            <h3><strong>Ajouter une depense</strong></h3>
            <p> ajouter toues les depenses de votre vehicule</p>
            </div></a>
            </div>


        </div>


        <div class="bodyyp">
            <div class="containerrp">
                <a class="boxxp"href="javascript:void(0)">
                <div class="iconnp">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                      </svg>
                </div>
                <div class="content">
                <h3><strong>Ajouter un trajet</strong></h3>
                <p> Faire entrer tous les trajets pour le suivi de votre véhicule</p>
                </div>
              </a>


                    <a class="boxxp" href="javascript:void(0)">
                    <div class="iconnp">



                        <i class="fas fa-tachometer-alt"></i>
                                         </div>
                    <div class="content">
                    <h3><strong>Ajouter odomoter</strong></h3>
                    <p> ajouter les données de votre odomoter pour calculer le kilométrage </p>
                    </div></a>



                        </div>


                    </div>

</div>
                <p-dialog [(visible)]="entretienDialog" [style]="{width: '30vw'}" header="Ajouter entretien" [modal]="true" styleClass="p-fluid" [draggable]="false"
                [resizable]="false" [baseZIndex]="10000">
                     <div class="row">&nbsp;&nbsp;&nbsp;
                      <mat-form-field class="example" >
                        <mat-label>&nbsp;&nbsp;&nbsp;Vehicule</mat-label>
                        <mat-select matNativeControl id="mySelectmarqueId" formControleName="vehicule"
                          [(ngModel)]="selectedVehicule" [ngModelOptions]="{standalone: true}" panelClass="my-select-panel-class"
                          (ngModelChange)="getVehicule()">
                          <mat-option *ngFor=" let marque of Vehicules" [value]="marque">
                            {{marque.model.marque.name}} {{marque.model.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      <mat-form-field class="example-full-width"   >
                        <mat-label> &nbsp;&nbsp;&nbsp; Entretien et réparation</mat-label>
                        <mat-select [disabled]="selectedVehicule == null" matNativeControl id="abc" [(ngModel)]="selectedMarque"
                          formControlName="specialisations" [ngModelOptions]="{standalone: true}" multiple
                          (ngModelChange)="getspec()">
                          <mat-optgroup *ngFor="let group of specialisations" [label]="group.name">
                            <mat-option *ngFor="let pokemon of group.detailspecialisations" [value]="pokemon">
                              {{pokemon.name}}
                            </mat-option>
                          </mat-optgroup>
                        </mat-select>
                      </mat-form-field>            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-form-field class="example"    >
                          <mat-label> &nbsp;&nbsp;&nbsp; Autres dépense </mat-label>
                          <mat-select [disabled]="selectedMarque == null" matNativeControl id="abc"
                            formControlName="depences" [ngModelOptions]="{standalone: true}"
                            >
                              <mat-option *ngFor="let pokemon of depences" [value]="pokemon">
                                {{pokemon}}
                              </mat-option>
                          </mat-select>
                        </mat-form-field>
                        </div>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <div class="row">
                      &nbsp;&nbsp;&nbsp;

                      <mat-form-field class="example-detail" >
                        <mat-label>Détails</mat-label>
                        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
                        <mat-hint align="start"><strong>Ajouter autre infos</strong> </mat-hint>
                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                      </mat-form-field>
                    </div>
                  <ng-template pTemplate="footer">
                    <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideentretienDialog()"></button>
                    <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-text"  ></button>
                </ng-template>
                </p-dialog>



