<style>
.fenetre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
</style>
<div class="block-header block-header--has-breadcrumb block-header--has-title">
  <div class="container">
    <div class="block-header__body">

      <h1 class="block-header__title">Carnet d'entretiens
      </h1>
    </div>
  </div>
</div>
<div class="fenetre">
<mat-tab-group  mat-align-tabs="center" >
  <mat-tab label="Tableau de board" >
<div class="block" style="overflow-y: hidden;min-height:  90vh;">

  <div class="container container--max--lg">
    <div class="card contacts">

      <br>

      <div class="card-body card-body--padding--2">

        <div class="row offset-1">
<div class="col">Cout du carburant des 30 derniers jours</div>
<div class="col">Moyenne L/100km</div>
<div class="col">Pleins des 30 derniers jours</div>

        </div>
        </div>
        </div>
  </div>
    <div class="container container--max--lg">
      <p-toast></p-toast>
      <div class="card contacts">
        <br>
        <div style="color: black; width: 80%;" class="vehicle-form__divider offset-1">Entrées de journal récentes</div>
        <div class="card-body card-body--padding--2">
          <div class="card-body">
            <div class="table-responsive">
              <p-table  #dt  [value]="historique"   
              [rowHover]="true"  [loading]="loading"
  
  
              >
               
                <ng-template pTemplate="body"  *ngIf="historique === null">
                  <tr>                    <td class="text-center"> aucune entretien récente</td>

                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-clt *ngIf="historique !== null">
                  <tr *ngIf="clt.entretien !== null">

                    <td>
                      <div class="boxx">
                      <div class="iconn" >
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-closed-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg>
                    </div>
                  </div>
                    

                      </td>
                    <td>{{clt.emailclt}}</td>
                    <td>{{clt.date_inscrip}}</td>
                    <td class="td-actions text-right ">
                      <button pButton pRipple icon="pi pi-info-circle" class="p-button-rounded p-button-info"  pTooltip="Details" ></button>

                      &nbsp;

                      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" pTooltip="supprimer" ></button>
                    </td>
                  </tr>




                  <!---->
                </ng-template>
               
             
              </p-table>
              </div>
  </div>
          </div>
          </div>
    </div>


<div class="block">
<div class="bodyy">
<div class="containerr">

    <a (click)="affichercarburantDialog()" class="boxx" href="javascript:void(0)">
    <div class="iconn">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-closed-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
    </div>
    <div class="content">
    <h3>Remplir carburant</h3>
    </div>

</a>


        <a (click)="afficherentretiendialog()" class="boxx" href="javascript:void(0)">
        <div  class="iconn">

            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tools" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
                <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
              </svg>
        </div>
        <div class="content">
        <h3>Ajouter entretien</h3>
        </div>

      </a>








            <a (click)="afficherdepenseDialog()" class="boxx" href="javascript:void(0)">
            <div class="iconn"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
                <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
                <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
              </svg></div>
            <div class="content">
            <h3>Ajouter depense</h3>

            </div>

          </a>

          <a (click)="affichertrajetDialog()" class="boxx"href="javascript:void(0)">
            <div class="iconn">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
            </div>
            <div class="content">
            <h3>Ajouter un trajet</h3>
            </div>



          </a>


                <a (click)="afficherodometerDialog()" class="boxx" href="javascript:void(0)">
                <div class="iconn">



                    <i class="fas fa-tachometer-alt"></i>
                                     </div>
                <div class="content">
                <h3>Ajouter odomoter</h3>
                </div>

              </a>

            </div>


        </div>




</div>
<div class="block-space block-space--layout--after-header"></div>
<form class="block-finder__form " novalidate [formGroup]="form_carburant" #cform="ngForm" (ngSubmit)="onsubmit_carburant()">
  <p-dialog  [(visible)]="carburantDialog" [style]="{width: '30vw'}" header="Remplir carburant" [modal]="true" styleClass="p-fluid" [draggable]="false"
  [resizable]="false" [baseZIndex]="10000">

  <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;

    <mat-form-field class="dateform" >
      <input matInput formControlName="date_carburant"  [matDatepicker]="picker" placeholder="date" [(ngModel)]="sysdate"  required  >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formErrors.date_carburant">{{formErrors.date_carburant}}</mat-error>
      </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field class="dateform" >
        <mat-label>&nbsp;&nbsp;&nbsp;Vehicule</mat-label>
        <mat-select matNativeControl id="mySelectmarqueId" formControleName="vehicule"
          [(ngModel)]="selectedVehicule_carburant" [ngModelOptions]="{standalone: true}" panelClass="my-select-panel-class"
          (ngModelChange)="setVehicule_carburant()" required >
          <mat-option *ngFor=" let marque of Vehicules" [value]="marque" >
            {{marque.model.marque.name}} {{marque.model.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="row">
&nbsp;&nbsp;&nbsp;&nbsp;

<mat-form-field class="dateform" >
<input matInput formControlName="odometer_carburant" type="number"   placeholder="Kilométrage (km)"  required >
<mat-error *ngIf="formErrors.odometer_carburant">{{formErrors.odometer_carburant}}</mat-error>
</mat-form-field>            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<mat-form-field class="dateform"  >
<input matInput formControlName="quantite_carburant" type="number"   placeholder="Quantité (L)"  required >
<mat-error *ngIf="formErrors.quantite_carburant">{{formErrors.quantite_carburant}}</mat-error>
</mat-form-field>
</div>

<div class="row">
&nbsp;&nbsp;&nbsp;&nbsp;

<mat-form-field class="dateform" >
<input matInput formControlName="station_carburant" type="text"  placeholder="station carburant" required   >
<mat-error *ngIf="formErrors.station_carburant">{{formErrors.station_carburant}}</mat-error>
</mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<mat-form-field class="dateform">
<input matInput formControlName="depense_carburant" type="number" placeholder="Prix total (DT)"  required   >
<mat-error *ngIf="formErrors.depense_carburant">{{formErrors.depense_carburant}}</mat-error>
</mat-form-field>
</div>

<mat-form-field class="example-detail" >
<mat-label>Notes</mat-label>
<input matInput #message formControlName="note_carburant" type="text" maxlength="256" placeholder="ajouter des informations supplimentaires">
<mat-hint align="start"><strong>Ajouter autre infos</strong> </mat-hint>
<mat-hint align="end">{{message.value.length}} / 256</mat-hint>
</mat-form-field>


    <ng-template pTemplate="footer">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hidecarburantDialog()"></button>
      <button pButton pRipple type="submit" label="Valider" icon="pi pi-check" class="p-button-text"  ></button>
  </ng-template>
  </p-dialog>
</form>


<form class="block-finder__form " novalidate [formGroup]="form_entretien" #eform="ngForm" (ngSubmit)="onsubmit_entretien()">
  <p-dialog [(visible)]="entretienDialog" [style]="{width: '30vw'}" header="Ajouter entretien" [modal]="true" styleClass="p-fluid" [draggable]="false"
  [resizable]="false" [baseZIndex]="10000">

  <div class="row">&nbsp;&nbsp;&nbsp;

  <mat-form-field class="dateform">
    <input matInput formControlName="date_entretien"  [matDatepicker]="picker_entretien" placeholder="Date entretien" [(ngModel)]="sysdate"  required  >
    <mat-datepicker-toggle matSuffix [for]="picker_entretien"></mat-datepicker-toggle>
    <mat-datepicker #picker_entretien></mat-datepicker>
    <mat-error *ngIf="formErrors.date_entretien">{{formErrors.date_entretien}}</mat-error>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field class="dateform"  >
      <input matInput formControlName="odometer_entretien" type="number"   placeholder="kilométrage (km)"  required >
      <mat-error *ngIf="formErrors.odometer_entretien">{{formErrors.odometer_entretien}}</mat-error>
  </mat-form-field>
</div>

       <div class="row">&nbsp;&nbsp;&nbsp;
        <mat-form-field class="dateform" >
          <mat-label>&nbsp;&nbsp;&nbsp;Vehicule</mat-label>
          <mat-select matNativeControl id="mySelectmarqueId" formControleName="vehicule"
            [(ngModel)]="selectedVehicule_entretien" [ngModelOptions]="{standalone: true}" panelClass="my-select-panel-class"
            (ngModelChange)="setVehicule_entretien()" required>
            <mat-option *ngFor=" let marque of Vehicules" [value]="marque">
              {{marque.model.marque.name}} {{marque.model.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formErrors.vehicule">{{formErrors.vehicule}}</mat-error>
        </mat-form-field>            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <mat-form-field class="dateform"   >
          <mat-label> &nbsp;&nbsp;&nbsp; Entretien et réparation</mat-label>
          <mat-select  matNativeControl id="abc" [(ngModel)]="specialisationss"
            formControlName="specialisations" [ngModelOptions]="{standalone: true}" multiple
            (ngModelChange)="setspecialisation()" required>
            <mat-optgroup *ngFor="let group of specialisations" [label]="group.name">
              <mat-option *ngFor="let pokemon of group.detailspecialisations" [value]="pokemon.name">
                {{pokemon.name}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-error *ngIf="formErrors.specialisations">{{formErrors.specialisations}}</mat-error>
        </mat-form-field> </div>
        <div class="row">&nbsp;&nbsp;&nbsp;
        <mat-form-field class="dateform"  >
          <input matInput formControlName="centre_entretien" type="text"  id="centre_entretien" placeholder="Centre entretien"   >
          <mat-error *ngIf="formErrors.centre_entretien">{{formErrors.centre_entretien}}</mat-error>
          </mat-form-field>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <mat-form-field class="dateform">
            <input matInput formControlName="prix_entretien" type="number" placeholder="Prix total (DT)"  required   >
            <mat-error *ngIf="formErrors.prix_entretien">{{formErrors.prix_entretien}}</mat-error>

            </mat-form-field>
            </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <mat-form-field class="example-detail" >
          <mat-label>Notes</mat-label>
          <input matInput #message formControlName="note_entretien" maxlength="256" placeholder="ajouter des informations supplimentaires">
          <mat-hint align="start"><strong>Ajouter autre infos</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideentretienDialog()"></button>
      <button pButton pRipple type="submit" label="Valider" icon="pi pi-check" class="p-button-text"  ></button>
  </ng-template>
  </p-dialog>
  </form>


  <form class="block-finder__form " novalidate [formGroup]="form_depense" #dform="ngForm" (ngSubmit)="onsubmit_depense()">

    <p-dialog [(visible)]="depenseDialog" [style]="{width: '30vw'}" header="Ajouter depense" [modal]="true" styleClass="p-fluid" [draggable]="false"
    [resizable]="false" [baseZIndex]="10000">
    <div class="row">&nbsp;&nbsp;&nbsp;

      <mat-form-field class="dateform">
        <input matInput formControlName="date_depense"  [matDatepicker]="picker_depense" placeholder="Date depense" [(ngModel)]="sysdate"  required  >
        <mat-datepicker-toggle matSuffix [for]="picker_depense"></mat-datepicker-toggle>
        <mat-datepicker #picker_depense></mat-datepicker>
        <mat-error *ngIf="formErrors.date_depense">{{formErrors.date_depense}}</mat-error>
  </mat-form-field>
        </div>

     <div class="row">&nbsp;&nbsp;&nbsp;
      <mat-form-field class="dateform" >
        <mat-label>&nbsp;&nbsp;&nbsp;Vehicule</mat-label>
        <mat-select matNativeControl id="mySelectmarqueId" formControleName="vehicule"
          [(ngModel)]="selectedVehicule_depense" [ngModelOptions]="{standalone: true}" panelClass="my-select-panel-class"
          (ngModelChange)="setVehicule_depense()" required >
          <mat-option *ngFor=" let marque of Vehicules" [value]="marque">
            {{marque.model.marque.name}} {{marque.model.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formErrors.vehicule">{{formErrors.vehicule}}</mat-error>

      </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field class="dateform"  >
        <input matInput formControlName="odometer_depense" type="number"   placeholder="kilométrage (km)"  required >
        <mat-error *ngIf="formErrors.odometer_depense">{{formErrors.odometer_depense}}</mat-error>

    </mat-form-field>





  </div>

        <div class="row">
          &nbsp;&nbsp;&nbsp;

          <mat-form-field class="dateform"    >
            <mat-label> Dépenses </mat-label>
            <mat-select  matNativeControl id="abc" [(ngModel)]="selected_d"  (ngModelChange)="setDepense()"
              formControlName="depense" [ngModelOptions]="{standalone: true}"
              required >

                <mat-option *ngFor="let pokemon of depences" [value]="pokemon">
                  {{pokemon}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.depense">{{formErrors.depense}}</mat-error>

          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



<mat-form-field class="dateform">
  <input matInput formControlName="prix_depense" type="number" placeholder="Prix total (DT)"  required   >
  <mat-error *ngIf="formErrors.prix_depense">{{formErrors.prix_depense}}</mat-error>
  </mat-form-field>
        </div>
        <mat-form-field class="example-detail" >
          <mat-label>Notes</mat-label>
          <input matInput #message formControlName="note_depense" maxlength="256" placeholder="ajouter des informations supplimentaires">
          <mat-hint align="start"><strong>Ajouter autre infos</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>


      <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hidedepenseDialog()"></button>
        <button pButton pRipple type="submit" label="Valider" icon="pi pi-check" class="p-button-text"  ></button>
    </ng-template>
    </p-dialog>
    </form>

    <form class="block-finder__form " novalidate [formGroup]="form_odometer" #oform="ngForm" (ngSubmit)="onsubmit_odometer()">

      <p-dialog [(visible)]="odometerDialog" [style]="{width: '30vw'}" header="Ajouter odometer" [modal]="true" styleClass="p-fluid" [draggable]="false"
      [resizable]="false" [baseZIndex]="10000">

      <div class="row">
        &nbsp;&nbsp;&nbsp;

        <mat-form-field class="dateform">
          <input matInput formControlName="date_odometer"  [matDatepicker]="picker_odometer" placeholder="date" [(ngModel)]="sysdate"   required  >
          <mat-datepicker-toggle matSuffix [for]="picker_odometer"></mat-datepicker-toggle>
          <mat-datepicker #picker_odometer></mat-datepicker>
          <mat-error *ngIf="formErrors.date_odometer">{{formErrors.date_odometer}}</mat-error>

          </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;


  </div>
  <div class="row">&nbsp;&nbsp;&nbsp;
    <mat-form-field class="dateform" >
      <mat-label>&nbsp;&nbsp;&nbsp;Vehicule</mat-label>
      <mat-select matNativeControl id="mySelectmarqueId" formControleName="vehicule"
        [(ngModel)]="selectedVehicule_odometer" [ngModelOptions]="{standalone: true}" panelClass="my-select-panel-class"
        (ngModelChange)="setVehicule_odometer()" required>
        <mat-option *ngFor=" let marque of Vehicules" [value]="marque">
          {{marque.model.marque.name}} {{marque.model.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formErrors.vehicule">{{formErrors.vehicule}}</mat-error>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field class="dateform" >
      <input matInput formControlName="odomoeter_cal" type="number"   placeholder="Kilométrage (km)"  required >
      <mat-error *ngIf="formErrors.odomoeter_cal">{{formErrors.odomoeter_cal}}</mat-error>

      </mat-form-field>





</div>

  <mat-form-field class="example-detail" >
    <mat-label>Notes</mat-label>
    <input matInput #message formControlName="note_odometer" maxlength="256" placeholder="ajouter des informations supplimentaires">
    <mat-hint align="start"><strong>Ajouter autre infos</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>

        <ng-template pTemplate="footer">
          <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideodometerDialog()"></button>
          <button pButton pRipple type="submit" label="Valider" icon="pi pi-check" class="p-button-text"  ></button>
      </ng-template>
      </p-dialog>
      </form>


      <form class="block-finder__form " novalidate [formGroup]="form_trajet" #tform="ngForm" (ngSubmit)="onsubmit_trajet()">

        <p-dialog [(visible)]="trajetDialog"  [contentStyle]="{'overflow-y': 'scroll', 'overflow-x': 'hidden',
        'max-height': '40vh','min-height':'250px'}" header="Ajouter trajet" [modal]="true" styleClass="p-fluid" [draggable]="false"
        [resizable]="false" [baseZIndex]="10000"  >
        <div class="row">&nbsp;&nbsp;
          <mat-form-field class="dateform" >
            <mat-label>&nbsp;&nbsp;&nbsp;Vehicule</mat-label>
            <mat-select matNativeControl id="mySelectmarqueId" formControleName="vehicule"
              [(ngModel)]="selectedVehicule_trajet" [ngModelOptions]="{standalone: true}" panelClass="my-select-panel-class"
              (ngModelChange)="setVehicule_trajet()" required >
              <mat-option *ngFor=" let marque of Vehicules" [value]="marque">
                {{marque.model.marque.name}} {{marque.model.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.vehicule">{{formErrors.vehicule}}</mat-error>

          </mat-form-field>
      </div>
        <div class="vehicle-form__divider">Depart</div>

            <div class="row">
              &nbsp;&nbsp;

              <mat-form-field class="half-width">
                <input matInput formControlName="date_depart"  [matDatepicker]="picker_dd" placeholder="Date débart"  required  >
                <mat-datepicker-toggle matSuffix [for]="picker_dd"></mat-datepicker-toggle>
                <mat-datepicker #picker_dd></mat-datepicker>
                <mat-error *ngIf="formErrors.date_depart">{{formErrors.date_depart}}</mat-error>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field class="half-width" >
                  <input matInput formControlName="lieux_depart" type="text"  placeholder="lieu départ" required   >
                  <mat-error *ngIf="formErrors.lieux_depart">{{formErrors.lieux_depart}}</mat-error>

                  </mat-form-field>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div >
                    <br/>
                    <p-calendar  formControlName="heure_depart" placeholder="Heure départ" [timeOnly]="true" required>
                      <mat-error *ngIf="formErrors.heure_depart">{{formErrors.heure_depart}}</mat-error>

                    </p-calendar>
    </div>
            </div>
           <br/>
            <div class="vehicle-form__divider">Arrivée</div>
            <div class="row">
              &nbsp;&nbsp;
              <mat-form-field class="half-width">
                <input matInput formControlName="date_arrive"  [matDatepicker]="picker_da" placeholder="Date arrivé"  required  >
                <mat-datepicker-toggle matSuffix [for]="picker_da"></mat-datepicker-toggle>
                <mat-datepicker #picker_da></mat-datepicker>
                <mat-error *ngIf="formErrors.date_arrive">{{formErrors.date_arrive}}</mat-error>

                </mat-form-field>                  &nbsp;&nbsp;&nbsp;&nbsp;

                <mat-form-field class="half-width" >
                  <input matInput formControlName="lieux_arrive" type="text"  placeholder="lieu arrivée" required   >
                  <mat-error *ngIf="formErrors.lieux_arrive">{{formErrors.lieux_arrive}}</mat-error>

                  </mat-form-field>                   &nbsp;&nbsp;&nbsp;&nbsp;
                  <div >
                    <br/>
                  <p-calendar  formControlName="heure_arrive" placeholder="Heure arrivée" [timeOnly]="true" required>
                    <mat-error *ngIf="formErrors.heure_arrive">{{formErrors.heure_arrive}}</mat-error>

                  </p-calendar>
 </div>
            </div>
            <div class="vehicle-form__divider">Trajet information</div>
            <div class="row">
              &nbsp;&nbsp;
              <mat-form-field  >
                <input matInput formControlName="distance_trajet" type="number"   placeholder="Distance parcourue (KM)"  required >
                <mat-error *ngIf="formErrors.distance_trajet">{{formErrors.distance_trajet}}</mat-error>

                </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field  >
                  <input matInput formControlName="duree_trajet" type="number"   placeholder="Temps du trajet"  required >
                  <mat-error *ngIf="formErrors.duree_trajet">{{formErrors.duree_trajet}}</mat-error>

                  </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-form-field  >
                    <input matInput formControlName="vitesse_trajet" type="number"   placeholder="moy vitesse"  required >
                    <mat-error *ngIf="formErrors.vitesse_trajet">{{formErrors.vitesse_trajet}}</mat-error>

                    </mat-form-field>
              </div>
            <div class="vehicle-form__divider">Autres informations</div>
            <div class="row">
              &nbsp;&nbsp;&nbsp;

            <mat-form-field  class="half-width">
              <input matInput formControlName="taxe_trajet" type="number"   placeholder="Autre Taxe"   >

              </mat-form-field>
            </div>

            <mat-form-field class="example-detail" >
              <mat-label>Notes</mat-label>
              <input matInput #message formControlName="note_trajet" maxlength="256" placeholder="ajouter des informations supplimentaires">
              <mat-hint align="start"><strong>Ajouter autre infos</strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>

          <ng-template pTemplate="footer">
            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hidetrajetDialog()"></button>
            <button pButton pRipple type="submit" label="Valider" icon="pi pi-check" class="p-button-text"  ></button>
        </ng-template>
        </p-dialog>
        </form>
        </div>


</mat-tab>
<mat-tab label="Statistiques & Tableaux">
  <div class="block">
    <div class="container container--max--lg">
      <div class="card contacts">
        <br>

        <div class="card-body card-body--padding--2">

          <div class="row offset-1">


          </div>
          </div>
          </div>
    </div>
    </div>
    <div class="block-space block-space--layout--divider-xs"></div>
</mat-tab>
</mat-tab-group></div>












