
  <div class="dashboard">
    <div class="dashboard__profile card profile-card">
      <div class="card-body profile-card__body">
        <img *ngIf="client.photoclt == null " src="assets/images/avatars/avat.jpg" alt="" height="150" width="150">

          <!--   <img src="assets/images/avatars/avat.jpg" alt="">-->
        <!--  <img src="http://localhost:8081/api/apii/image/logo/{{client.photoclt}}" class="rounded"
   alt="Grokonez-About Image" width="200px" height="150">-->
             <img  *ngIf="client.photoclt !== null " mat-card-image src="http://localhost:8081/api/apii/image/logo/{{client.photoclt}}" class="rounded" alt="Photo of a Shiba Inu" height="150" width="150">



<br>
           <div class="profile-card__name">{{ client.firstNameclt }} {{client.lastNameclt}} </div>
    <div class="profile-card__email">{{ client.emailclt}}</div>

           <div class="profile-card__edit"><a routerLink="/All4MyCar/client/espace-client/profil" class="btn btn-secondary btn-sm">Edit Profile</a></div></div></div>







        <div class="dashboard__address card address-card address-card--featured">
          <div class="address-card__badge tag-badge tag-badge--theme">Customer</div>
          <div class="address-card__body">
          <div class="address-card__name">{{ client.firstNameclt}} {{client.lastNameclt}}</div>
          <div class="address-card__row">
          <div class="address-card__row-title">Adresse</div>
          <div class="address-card__row-content">{{client.adresseclt}}</div>
        </div>
          <div class="address-card__row">
            <div class="address-card__row-title">Phone Number</div>
          <div class="address-card__row-content">{{client.telclt}}</div>
          </div>
          <div class="address-card__row">
            <div class="address-card__row-title">Numero CIN</div>
          <div class="address-card__row-content">{{client.cin}}</div>
          </div>
          <div class="address-card__row">
            <div class="address-card__row-title">Date permis</div>
          <div class="address-card__row-content">{{client.date_permis}}</div>
        </div>

          </div></div>
          <div class="dashboard__orders card"><div class="card-header"><h5>Recent Orders</h5></div>
          <div class="card-divider"></div><div class="card-table"><div class="table-responsive-sm"><table><thead><tr><th>Order</th><th>Date</th><th>Status</th><th>Total</th></tr></thead><tbody><tr><td><a href="#">#8132</a></td><td>02 April, 2019</td><td>Pending</td><td>$2,719.00 for 5 item(s)</td></tr><tr><td><a href="#">#7592</a></td><td>28 March, 2019</td><td>Pending</td><td>$374.00 for 3 item(s)</td></tr><tr><td><a href="#">#7192</a></td><td>15 March, 2019</td><td>Shipped</td><td>$791.00 for 4 item(s)</td></tr></tbody></table></div></div></div></div>
<!-----ok-->
