<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Used Space</p>
                        <h3 class="card-title">49/50
                            <small>GB</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Revenue</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Fixed Issues</p>
                        <h3 class="card-title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
              <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon"><i class="material-icons">assignment</i></div>
                  <h4 class="card-title">Demandes Clients</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>UserName</th>
                          <th>Email</th>
                          <th>Date inscription</th>
                          <th class="text-right">Actions</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="client === null">
                        <tr>                    <td class="text-center"> aucune registration récente</td>
      
                        </tr>
                      </tbody>
                      <tbody *ngIf="client !== null">
                        <tr *ngFor="let clt  of client">
                          <td class="text-center"> {{clt.firstNameclt}}</td>
                          <td>{{clt.lastNameclt}}</td>
                          <td>{{clt.emailclt}}</td>
                          <td>{{clt.date_inscrip}}</td>
                          <td class="td-actions text-right">
                            <button mat-raised-button="" type="button" pTooltip="editer" tooltipPosition="bottom" 
                              class="mat-raised-button mat-button-base btn btn-success btn-round">
                              <span class="mat-button-wrapper"><i class="material-icons">create</i></span>
                              <div matripple="" class="mat-ripple mat-button-ripple"></div>
                              <div class="mat-button-focus-overlay"></div>
                            </button>
                            &nbsp;
                            <button mat-raised-button="" type="button" pTooltip="supprimer" tooltipPosition="bottom" (click)="deletclient(clt.id)"
                              class="mat-raised-button mat-button-base btn btn-danger btn-round"><span
                                class="mat-button-wrapper"><i class="material-icons">delete</i></span>
                              <div matripple="" class="mat-ripple mat-button-ripple"></div>
                              <div class="mat-button-focus-overlay"></div>
                            </button></td>
                        </tr>
      
      
      
      
                        <!---->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
            
      
            <div class="row">
              <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon"><i class="material-icons">assignment</i></div>
                  <h4 class="card-title">Demandes prestataire</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>UserName</th>
                          <th>Email</th>
                          <th>Date inscription</th>
                          <th class="text-right">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pres of prestataire">
                          <td class="text-center"> {{pres.firstNamepres}}</td>
                          <td>{{pres.lastNamepres}}</td>
                          <td>{{pres.emailpres}}</td>
                          <td>{{pres.date_inscrip}}</td>
                          <td class="td-actions text-right">
                            <button mat-raised-button="" type="button" pTooltip="editer" tooltipPosition="bottom"
                              class="mat-raised-button mat-button-base btn btn-success btn-round">
                              <span class="mat-button-wrapper"><i class="material-icons">create</i></span>
                              <div matripple="" class="mat-ripple mat-button-ripple"></div>
                              <div class="mat-button-focus-overlay"></div>
                            </button>
                            &nbsp;
                            <button mat-raised-button="" type="button" pTooltip="supprimer" tooltipPosition="bottom" (click)="deleteprestataire(pres.id)"
                              class="mat-raised-button mat-button-base btn btn-danger btn-round"><span
                                class="mat-button-wrapper"><i class="material-icons">delete</i></span>
                              <div matripple="" class="mat-ripple mat-button-ripple"></div>
                              <div class="mat-button-focus-overlay"></div>
                            </button></td>
                        </tr>
      
      
      
      
      
      
                        <!---->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
       </div>
       
    
       
       