<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="color: red;">{{Vehicule.model.marque.name}} {{Vehicule.model.name}}</mat-card-title>
    <mat-card-subtitle>{{Vehicule.type_vehicule}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://localhost:8081/api/afficheimagevehicule/image/logo/{{Vehicule.galerie_photo}}" alt="Photo of a Shiba Inu" height="250" width="500">

  <mat-card-content>
      <div class="address-card__body">
        <!-- Include text description of the icon's meaning for screen-readers -->
        <div class="container">
      <div class="row">
        <div class="col">
          <div class="address-card__row">
            <div class="address-card__row-title">Carburant</div>
            <div class="address-card__row-content">{{Vehicule.carburant}}</div>
          </div>
          </div>

          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="address-card__row">
                <div class="address-card__row-title">Immatriculation</div>
              <div class="address-card__row-content">{{Vehicule.immatriculation}}
              </div>
              </div>
              </div>
              <div class="col">
                <div class="address-card__row">
                  <div class="address-card__row-title">Date immatriculation</div>
                <div class="address-card__row-content">{{Vehicule.date_immatriculation}}
                </div>
              </div>
        </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div class="address-card__row">
                    <div class="address-card__row-title">assureur</div>
                  <div class="address-card__row-content">{{Vehicule.assureur}}

                  </div>
                  </div>
                  </div>
                  <div class="col">
                    <div class="address-card__row">
                      <div class="address-card__row-title">date assurance</div>
                    <div class="address-card__row-content">{{Vehicule.date_assurance}}

                    </div>
                    </div>
            </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <div class="address-card__row">
                        <div class="address-card__row-title">num_contrat_assurance</div>
                      <div class="address-card__row-content">{{Vehicule.date_assurance}}
                        {{Vehicule.num_contrat_assurance}}

                      </div>
                      </div>
                      </div>

                      </div>
        </div>







      </div>

  </mat-card-content>
</mat-card>















