
<div class="card">
  <div class="card-body">
<h1 mat-dialog-title style="color: red;">{{Vehicule.model.marque.name}} {{Vehicule.model.name}}</h1>
<div mat-dialog-content>


  <div class="address-card__body">
    <!-- Include text description of the icon's meaning for screen-readers -->
    <div class="container">
  <div class="row">
    <div class="col">
      <div class="address-card__row">
        <div class="address-card__row-title">Carburant</div>
        <div class="address-card__row-content">{{Vehicule.carburant}}</div>
      </div>
      </div>
      <div class="col">
        <div class="address-card__row">
          <div class="address-card__row-title">Type vehicule</div>
        <div class="address-card__row-content">{{Vehicule.type_vehicule}}
        </div>
        </div>
</div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="address-card__row">
            <div class="address-card__row-title">Immatriculation</div>
          <div class="address-card__row-content">{{Vehicule.immatriculation}}
          </div>
          </div>
          </div>
          <div class="col">
            <div class="address-card__row">
              <div class="address-card__row-title">Date immatriculation</div>
            <div class="address-card__row-content">{{Vehicule.date_immatriculation}}
            </div>
          </div>
    </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="address-card__row">
                <div class="address-card__row-title">assureur</div>
              <div class="address-card__row-content">{{Vehicule.assureur}}

              </div>
              </div>
              </div>
              <div class="col">
                <div class="address-card__row">
                  <div class="address-card__row-title">date assurance</div>
                <div class="address-card__row-content">{{Vehicule.date_assurance}}

                </div>
                </div>
        </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div class="address-card__row">
                    <div class="address-card__row-title">num_contrat_assurance</div>
                  <div class="address-card__row-content">{{Vehicule.date_assurance}}
                    {{Vehicule.num_contrat_assurance}}

                  </div>
                  </div>
                  </div>

                  </div>
    </div>







  </div></div>
</div>
  </div>


