




          <h4 class="account-nav__title">Navigation</h4>
          <ul class="account-nav__list">
            <li class="account-nav__item ">
             <!-- <a (click)="gotodashbord()">Dashboard</a></li>-->

              <a routerLink="/All4MyCar/client/espace-client/dashboard"  routerLinkActive=" account-nav__item--active">Dashboard</a>



              <li class="account-nav__item" (click)="gotovehicules()"><a routerLink="/All4MyCar/client/espace-client/vehicules" routerLinkActive=" account-nav__item--active" >Véhicules</a></li>
              <li class="account-nav__item" (click)="gotoprofil()"  ><a routerLink="/All4MyCar/client/espace-client/profil"  routerLinkActive=" account-nav__item--active" >Editer Profile</a></li>
              <li class="account-nav__item" (click)="gotocarnetentretien()"><a routerLink="/All4MyCar/client/espace-client/carnet-entretien"  routerLinkActive=" account-nav__item--active" >Carnet d'entretien</a></li>
              <li class="account-nav__item"><a >Prestations</a></li>
              <li class="account-nav__divider" role="presentation"></li><li class="account-nav__item"><a>Logout</a></li></ul>







