<div class="dashboard">
  <div class="dashboard__profile card profile-card" style="width: 40%;">
    <div class="card-body profile-card__body">




      <div *ngIf="prestataire.photopres !== null;else contenu_pas_bon">
        <img
          src="http://localhost:8081/api/api/image/logo/{{prestataire.photopres}}" class="rounded"
          alt="Photo of a Shiba Inu" height="150" width="150"></div>
      <ng-template #contenu_pas_bon> <img src="assets/images/avatars/avat.jpg" alt="" height="150" width="150">
      </ng-template>
      <br>





      <div class="profile-card__name">{{ prestataire.firstNamepres}} {{prestataire.lastNamepres}} </div>







      <div class="profile-card__email">{{ prestataire.emailpres}}</div>
      <div class="profile-card__edit"> <a (click)="gotoprofilp()"><a routerLink="/All4MyCar/prestataire/espace-prestataire/profilpres"
          class="btn btn-secondary btn-sm">Edit Profile</a></a></div>
    </div>
  </div>
  <div class="dashboard__address card address-card address-card--featured" style="width: 50%;">
    <div class="address-card__badge tag-badge tag-badge--theme">Prestataire</div>
    <div class="address-card__body">
      <div class="address-card__name">{{ prestataire.firstNamepres}} {{prestataire.lastNamepres}}</div>
      <div class="row">
        <div class="col">
          <div class="address-card__row">
            <div class="address-card__row-title">Phone Number</div>
            <div class="address-card__row-content">{{prestataire.telpres}}</div>
          </div>
        </div>
        <div class="col">
          <div class="address-card__row">
            <div class="address-card__row-title">Numero CIN</div>
            <div class="address-card__row-content">{{prestataire.cin}}</div>
          </div>
        </div>



      </div>
      <br>
      <div class="address-card__row">
        <div class="address-card__row-title">Adresse personnelle</div>
        <div class="address-card__row-content">{{prestataire.adressepres}}</div>
      </div>

      <div class="address-card__row">
        <div class="address-card__row-title">Specialisations</div>
        <div class="address-card__row-content">{{prestataire.specialisations}}</div>
      </div>





    </div>
  </div>




</div>
<!-----ok-->
