

<div class="card">
  <div class="card-header">
    <h5>Profile</h5>
  </div>
  <div class="card-divider"></div>
  <div class="card-body card-body--padding--2">

    <form
    novalidate [formGroup]="form" #fform="ngForm"(ngSubmit)="onsubmitt()" *ngIf="showclientForm">
    <div class="row no-gutters">
      <div class="col-12 col-lg-7 col-xl-5">
        <mat-form-field class="half-width" >
           <input matInput formControlName="firstNameclt" type="text"  id="firstNameclt" placeholder="First Name" required [(ngModel)]="clientt.firstNameclt"  >
           <mat-error *ngIf="formErrors.firstNameclt">{{formErrors.firstNameclt}}</mat-error>
           </mat-form-field>

           <mat-form-field class="half-width">
            <input matInput formControlName="cin" type="tel" placeholder="Numero CIN" pattern="[0-9]*" required [(ngModel)]="clientt.cin"  >
            <mat-error *ngIf="formErrors.cin">{{formErrors.cin}}</mat-error>
            </mat-form-field>
           <mat-form-field class="half-width">
          <input matInput formControlName="emailclt" type="email" id="emailclt" placeholder="Email Address"required email [(ngModel)]="clientt.emailclt" >
          <mat-error *ngIf="formErrors.emailclt">{{formErrors.emailclt}}</mat-error>
        </mat-form-field>




               <mat-form-field class="half-width">
                <input matInput formControlName="date_permis" [matDatepicker]="picker" placeholder="Date permis"  required [(ngModel)]="clientt.date_permis"  >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formErrors.date_permis">{{formErrors.date_permis}}</mat-error>
                </mat-form-field>


      </div>


      <div class="col-12 col-lg-7 col-xl-1">
      </div>
      <div class="col-12 col-lg-7 col-xl-5">
        <mat-form-field class="half-width">
          <input matInput formControlName="lastNameclt" type="text" placeholder="Last Name" required [(ngModel)]="clientt.lastNameclt" >
          <mat-error *ngIf="formErrors.lastNameclt">{{formErrors.lastNameclt}}</mat-error>
        </mat-form-field>

        <mat-form-field class="half-width">

            <input matInput formControlName="telclt" type="tel" placeholder="Phone Number" pattern="[0-9]*"  required [(ngModel)]="clientt.telclt" >
            <mat-error *ngIf="formErrors.telclt">{{formErrors.telclt}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
               <input matInput formControlName="adresseclt" type="text" placeholder="adresse" required [(ngModel)]="clientt.adresseclt"  >
               <mat-error *ngIf="formErrors.adresseclt">{{formErrors.adresseclt}}</mat-error>
            </mat-form-field>





          <div class="form-group">

              <label for="file">Photo</label>

              <input

                  formControlName="photoclt"

                  id="file"

                  type="file"

                  class="form-control"

                  (change)="onFileChange($event)">

              <div *ngIf="f.photoclt.touched && f.photoclt.invalid" class="alert alert-danger">

                  <div *ngIf="f.photoclt.errors.required">photo is required.</div>

              </div>

          </div>



          <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:300px" >






</div>


  <button type="submit" mat-button  [disabled]="!form.valid" class="btn btn-outline-success mt-3" >Modifier</button></div>


    </form>
  </div>
</div>
