<div class="block-space block-space--layout--divider-lg"></div>

<div class="block block-zone">
    
    <div class="container">
        <div _ngcontent-nbo-c132="" class="section-header__body"><h2 _ngcontent-nbo-c132="" class="section-header__title">Les rendez vous a venir</h2><div _ngcontent-nbo-c132="" class="section-header__spring"></div>
        <div _ngcontent-nbo-c132="" class="section-header__divider"></div></div>
        <div class="block-zone__body">
            <div class="block-zone__card category-card category-card--layout--overlay">
                <div class="category-card__body">




                    <div class="category-card__overlay-image"><img
                            srcset="/assets/images/categories/category-overlay-1-mobile.jpg 530w, /assets/images/categories/category-overlay-1.jpg 305w"
                            src="/assets/images/categories/category-overlay-1.jpg"
                            sizes="(max-width: 575px) 530px, 305px" alt=""></div>
                    <div class="category-card__overlay-image category-card__overlay-image--blur"><img
                            srcset="/assets/images/categories/category-overlay-1-mobile.jpg 530w, /assets/images/categories/category-overlay-1.jpg 305w"
                            src="/assets/images/categories/category-overlay-1.jpg"
                            sizes="(max-width: 575px) 530px, 305px" alt=""></div>
                    <div class="category-card__content">
                        <div class="category-card__info">
                            <div class="category-card__name"><a href="category-4-columns-sidebar.html"></a></div>
                            <ul class="category-card__children">
                                <li><h2 style="color:#f7ff03">Total</h2></li>
                                <li><h3>50</h3></li>
                                <li><h2 style="color:#f7ff03">Aujoud'hui</h2></li>
                                <li><h3>2</h3></li>
                                <li><h2 style="color:#f7ff03">Cette semaine</h2></li>
                                <li><h3>15</h3></li>
                                <li><h2 style="color:#f7ff03">ce mois</h2></li>
                                <li><h3>50</h3></li>

                            </ul>

                        </div>
                    </div>


                    
                </div>
            </div>
            <div class="block-zone__widget">
                <div class="block-zone__widget-header">
                    <div class="block-zone__tabs"><button class="block-zone__tabs-button" type="button"
                            (click)="ShowAll()">Tous</button> <button
                            class="block-zone__tabs-button block-zone__tabs-button--active" type="button"
                            (click)="ShowToday()">Aujourd'hui</button> <button class="block-zone__tabs-button"
                            type="button" (click)="ShowWeek()">Cette semaine</button>
                        <button class="block-zone__tabs-button" type="button" (click)="ShowMonth()">Ce mois</button>
                    </div>
                    <div class="arrow block-zone__arrow block-zone__arrow--prev arrow--prev"><button
                            class="arrow__button" type="button"><svg width="7" height="11">
                                <path
                                    d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z">
                                </path>
                            </svg></button></div>
                    <div class="arrow block-zone__arrow block-zone__arrow--next arrow--next"><button
                            class="arrow__button" type="button"><svg width="7" height="11">
                                <path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9
	C-0.1,9.8-0.1,10.4,0.3,10.7z"></path>
                            </svg></button></div>
                </div>



                <div class="block-zone__widget-body">
                    <div class="block-zone__carousel">
                        <div class="block-zone__carousel-loader"></div>
                        <div class="owl-carousel owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(-1073px, 0px, 0px); transition: all 0s ease 0s; width: 4294px;">





                                    <div class="owl-item " style="width: 252.333px; margin-right: 16px;">
                                        <div class="block-zone__carousel-item">
                                            <div class="product-card" *ngIf="showVar == 1 ">
                                                <br>
                                                <div class="product-card__name">
                                                    <h6>foullen foulleni</h6>

                                                </div>
                                                <div class="product-card__image"><a href="product-full.html"><img src="/assets/images/products/product-2-245x245.jpg" alt=""></a><div class="status-badge status-badge--style--success product-card__fit status-badge--has-icon status-badge--has-text"><div class="status-badge__body"><div class="status-badge__icon"><svg width="13" height="13"><path d="M12,4.4L5.5,11L1,6.5l1.4-1.4l3.1,3.1L10.6,3L12,4.4z"></path></svg></div><div class="status-badge__text">Part Fit for 2011 Ford Focus S</div><div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title="" data-original-title="Part Fit for 2011 Ford Focus S"></div></div></div></div>

                                                <div class="product-card__info">
                                                    <span class="product-card__name_edit">Adresse : </span><br />
                                                    <div class="product-card__name"> rue amor jammeli
                                                        hay erriadh bardo</div>
                                                    <br />
                                                    <span class="product-card__name_edit">phone : </span><br />
                                                    <div class="product-card__name">+216 58 254 365</div>
                                                    <br />
                                                    <span class="product-card__name_edit">email : </span><br />
                                                    <div class="product-card__name">houssem@gmail.com</div>
                                                    <br />


                                                </div>
                                                <div class="product-card__footer">
                                                    <div class="product-card__prices">
                                                        <div class="product-card__price product-card__price--current">
                                                            22 march 2015</div>
                                                    </div><div class="status-badge status-badge--style--failure status-badge--has-icon"><div class="status-badge__body"><div class="status-badge__icon"><svg width="13" height="13"><path d="M6.5,0C2.9,0,0,2.9,0,6.5S2.9,13,6.5,13S13,10.1,13,6.5S10.1,0,6.5,0z M6.5,2c0.9,0,1.7,0.3,2.4,0.7L2.7,8.9
                                                        C2.3,8.2,2,7.4,2,6.5C2,4,4,2,6.5,2z M6.5,11c-0.9,0-1.7-0.3-2.4-0.7l6.2-6.2C10.7,4.8,11,5.6,11,6.5C11,9,9,11,6.5,11z"></path></svg></div><div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title="" data-original-title="Out of Stock"></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="owl-nav disabled"><button type="button" role="presentation"
                                    class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button"
                                    role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                            <div class="owl-dots disabled"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-space block-space--layout--divider-lg"></div>


<div class="block block-products-carousel" data-layout="grid-5">
    <div class="container">
        <div class="section-header">
            <div class="section-header__body">
                <h2 class="section-header__title">Les demandes de rendez-vous</h2>
                <div class="section-header__spring"></div>
                <div class="section-header__arrows">
                    <div class="arrow section-header__arrow section-header__arrow--prev arrow--prev"><button
                            class="arrow__button" type="button"><svg width="7" height="11">
                                <path
                                    d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z">
                                </path>
                            </svg></button></div>
                    <div class="arrow section-header__arrow section-header__arrow--next arrow--next"><button
                            class="arrow__button" type="button"><svg width="7" height="11">
                                <path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9
	C-0.1,9.8-0.1,10.4,0.3,10.7z"></path>
                            </svg></button></div>
                </div>
                <div class="section-header__divider"></div>
            </div>
        </div>
        <div class="block-products-carousel__carousel">
            <div class="block-products-carousel__carousel-loader"></div>
            <div class="owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                        style="transform: translate3d(-1695px, 0px, 0px); transition: all 0.5s ease 0s; width: 5650px;">
                       


                        <div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                            <div class="block-zone__carousel-item">
                                <div class="product-card ">
                                    <br>
                                    <div class="product-card__name">
                                        <h6>foullen foulleni</h6>

                                    </div>
                                    <div class="product-card__image"><a href="product-full.html"><img src="/assets/images/products/product-2-245x245.jpg" alt=""></a><div class="status-badge status-badge--style--success product-card__fit status-badge--has-icon status-badge--has-text"><div class="status-badge__body"><div class="status-badge__icon"><svg width="13" height="13"><path d="M12,4.4L5.5,11L1,6.5l1.4-1.4l3.1,3.1L10.6,3L12,4.4z"></path></svg></div><div class="status-badge__text">Part Fit for 2011 Ford Focus S</div><div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title="" data-original-title="Part Fit for 2011 Ford Focus S"></div></div></div></div>

                                    <div class="product-card__info">
                                        <span class="product-card__name_edit">Adresse : </span><br />
                                        <div class="product-card__name"> rue amor jammeli
                                            hay erriadh bardo</div>
                                        <br />
                                        <span class="product-card__name_edit">phone : </span><br />
                                        <div class="product-card__name">+216 58 254 365</div>
                                        <br />
                                        <span class="product-card__name_edit">email : </span><br />
                                        <div class="product-card__name">houssem@gmail.com</div>
                                        <br />
                                        <div class="status-badge status-badge--style--success status-badge--has-text"><div class="status-badge__body"><div class="status-badge__text">Accepter</div><div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title="" data-original-title="Accept"></div></div></div>
                                        <div class="status-badge status-badge--style--failure status-badge--has-text"><div class="status-badge__body"><div class="status-badge__text">Refuser</div><div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title="" data-original-title="Refuser"></div></div></div>

                                    </div>
                                    <div class="product-card__footer">
                                        <div class="product-card__prices">
                                            <div class="product-card__price product-card__price--current">
                                                22 march 2015</div>
                                        </div>
                                            <div class="status-badge status-badge--style--failure status-badge--has-icon"><div class="status-badge__body"><div class="status-badge__icon"><svg width="13" height="13"><path d="M6.5,0C2.9,0,0,2.9,0,6.5S2.9,13,6.5,13S13,10.1,13,6.5S10.1,0,6.5,0z M6.5,2c0.9,0,1.7,0.3,2.4,0.7L2.7,8.9
	C2.3,8.2,2,7.4,2,6.5C2,4,4,2,6.5,2z M6.5,11c-0.9,0-1.7-0.3-2.4-0.7l6.2-6.2C10.7,4.8,11,5.6,11,6.5C11,9,9,11,6.5,11z"></path></svg></div><div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title="" data-original-title="Out of Stock"></div></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                            aria-label="Previous">‹</span></button><button type="button" role="presentation"
                        class="owl-next"><span aria-label="Next">›</span></button></div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>