<style>
    p{  text-align: center;}
    .card-s {
  background-color: rgb(235, 229, 229);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 0;
}
.card-s-header-s{
  background-color: rgb(255, 255, 255);

}
.custom-file-upload {
  background-color: rgb(253, 253, 253);
  color:rgb(150, 153, 150);

  border: 1px solid rgb(150, 153, 150);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.img-wrap {
  position: relative;
  display: inline-block;
  border: 1px red solid;
  font-size: 0;
}
.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  background-color: #FFF;
  padding: 5px 2px 2px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  opacity: .2;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
}
.img-wrap:hover .close {
  opacity: 1;
}

.fenetre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
</style>


<div class="fenetre">

  <mat-horizontal-stepper [linear]="isLinear" [selectedIndex]="selectedIndex" #stepper>
      <div class="mat-step-text-label ng-star-inserted">
    <mat-step [stepControl]="firstFormGroup" completed="true" >
        <ng-template matStepLabel>Register</ng-template>
        <div class="block-space block-space--layout--after-header"></div>

        <p>Vous etes maintenant enregistrer , veuillez compléter votre profil pour activer votre
            compte
        </p>
        <div class="block-space block-space--layout--before-footer"></div>
        <div class="block-space block-space--layout--before-footer"></div>


    </mat-step>
      </div>
    <mat-step [stepControl]="form" *ngIf="!profileSubmitted" completed="false" label="Completer votre profil">
      <div class="row" >
        <div class="offset-2 col-12  col-lg-7 col-xl-8">
        <div class="card">
            <div class="card-header">
              <h5>Profile Client</h5>
            </div>
            <div class="card-divider"></div>
            <div class="card-body card-body--padding--2">

              <form
              novalidate [formGroup]="form" #fform="ngForm"(ngSubmit)="onsubmitt()" *ngIf="showclientForm">
              <div class="row no-gutters">
                <div class="col-5 col-lg-5 col-xl-5">
                  <mat-form-field class="half-width" >
                     <input matInput formControlName="firstNameclt" type="text"  id="firstNameclt" placeholder="Prenom" required [(ngModel)]="clientt.firstNameclt"  >
                     <mat-error *ngIf="formErrors.firstNameclt">{{formErrors.firstNameclt}}</mat-error>
                     </mat-form-field>

                     <mat-form-field class="half-width">
                      <input matInput formControlName="cin" type="number" placeholder="Numero CIN" pattern="[0-9]*" required [(ngModel)]="clientt.cin"  >
                      <mat-error *ngIf="formErrors.cin">{{formErrors.cin}}</mat-error>
                      </mat-form-field>
                     <mat-form-field class="half-width">
                    <input matInput formControlName="emailclt" type="email" id="emailclt" placeholder="Adresse Email"required email [(ngModel)]="clientt.emailclt" >
                    <mat-error *ngIf="formErrors.emailclt">{{formErrors.emailclt}}</mat-error>
                  </mat-form-field>




                         <mat-form-field class="half-width">
                          <input matInput formControlName="date_permis" [matDatepicker]="picker" placeholder="Date permis"  required [(ngModel)]="clientt.date_permis"  >
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="formErrors.date_permis">{{formErrors.date_permis}}</mat-error>
                          </mat-form-field>

                </div>


                <div class="col-12 col-lg- col-xl-1">
                </div>
                <div class="col-12 col-lg-7 col-xl-5">
                  <mat-form-field class="half-width">
                    <input matInput formControlName="lastNameclt" type="text" placeholder="Nom" required [(ngModel)]="clientt.lastNameclt" >
                    <mat-error *ngIf="formErrors.lastNameclt">{{formErrors.lastNameclt}}</mat-error>
                  </mat-form-field>

                  <mat-form-field class="half-width">

                      <input matInput formControlName="telclt" type="tel" placeholder="Telephone" pattern="[0-9]*"  required [(ngModel)]="clientt.telclt" >
                      <mat-error *ngIf="formErrors.telclt">{{formErrors.telclt}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                         <input matInput formControlName="adresseclt" type="text" placeholder="adresse domicile" required [(ngModel)]="clientt.adresseclt"  >
                         <mat-error *ngIf="formErrors.adresseclt">{{formErrors.adresseclt}}</mat-error>
                      </mat-form-field>






          </div>
          </div>

          <div class="vehicle-form__divider">photos</div>

          <div class="row">
            <div class="col-12 col-lg-5 col-xl-5">


              <label class="custom-file-upload">
                <input   formControlName="photoclt"   accept="image/*" id="file" class="form-control"
                type="file"   (change)="onFileChange($event)" />
              photo profil</label>
              <div *ngIf="f.photoclt.touched && f.photoclt.invalid" class="alert alert-danger">

                <div *ngIf="f.photoclt.errors.required">photo is required.</div>

              </div>
              <div class="card-s">
                <div class="card-s-header-s">photo profil</div>
                <li class="list-group-item">

                <div  *ngIf="imageSrc" class="img-wrap">

                    <span   class="close">&times;</span>
                    <img  [src]="imageSrc"  height="100px" width="100px" style="margin: 3px;"> <br/>

                  </div>
                </li>


              </div>
              </div>
              <div class="col-12 col-lg-7 col-xl-2">
              </div>
              <div class="col-12 col-lg-5 col-xl-5">

            <label class="custom-file-upload">
              <input   formControlName="photos"    class="form-control"
              type="file" accept="image/*" multiple (change)="selectFiles($event)" />
Upload Cin/Carte Grise
            </label>
            <div class="card-s">
              <div class="card-s-header-s">CIN photos</div>
              <li class="list-group-item">

              <div  *ngFor="let url of images ; let i fo selectFiless" class="img-wrap">

                <span   class="close" (click)="removephotos(selectFiless)">&times;</span>
                  <img   [src]="url" height="100px" width="100px" style="margin: 3px;"> <br/>

                </div>
              </li>

            </div>

</div>




          </div>
          <div class="row">
            <div class="col-12 col-lg-5 col-xl-3">

            <button mat-button type="submit"  [disabled]="!form.valid" class="btn btn-outline-success mt-3" >Enregistrer</button>
          </div>
          </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="form" *ngIf="profileSubmitted" completed="true" label="Completer votre profil">
        <div class="block-space block-space--layout--before-footer"></div>
        <p>Merci d'avoir completer votre profil<br/>
        Votre demande est en cours d'examination</p>
        <div class="block-space block-space--layout--before-footer"></div>
        <div class="block-space block-space--layout--before-footer"></div>


    </mat-step>
    <mat-step completed="false" >
      <div *ngIf="profileSubmitted">
      <ng-template matStepLabel>Attente</ng-template>
      <p>Attente de confirmation de votre compte</p>
    </div>
    <div *ngIf="!profileSubmitted">
      <ng-template matStepLabel>Attente</ng-template>
      <div class="block-space block-space--layout--before-footer"></div>

      <p>Priére de compléter votre profil</p>
      <div class="block-space block-space--layout--before-footer"></div>
      <div class="block-space block-space--layout--before-footer"></div>

    </div>

    </mat-step>
  </mat-horizontal-stepper>
</div>
