<div class="block-space block-space--layout--after-header"></div>


<div class="block">
  <div class="container container--max--xl">
  <div class="row">
    <div class="col-12 col-lg-3 d-flex">
      <div class="account-nav flex-grow-1">
        <h4 class="account-nav__title">Navigation</h4>
        <ul class="account-nav__list">
          <li class="account-nav__item " (click)="gotodashboard()">
           <!-- <a (click)="gotodashbord()">Dashboard</a></li>-->

            <a routerLink="/All4MyCar/prestataire/espace-prestataire/dashboardpres"  routerLinkActive=" account-nav__item--active">Dashboard</a>



            <li class="account-nav__item" (click)="gotogarage()"><a routerLink="/All4MyCar/prestataire/espace-prestataire/garage" routerLinkActive=" account-nav__item--active" >Garage</a></li>
            <li class="account-nav__item" (click)="gotoprofilpres()"  ><a routerLink="/All4MyCar/prestataire/espace-prestataire/profilpres"  routerLinkActive=" account-nav__item--active" >Profile</a></li>
            <li class="account-nav__item" (click)="gotodisponibilte()"><a routerLink="/All4MyCar/prestataire/espace-prestataire/disponibilte"  routerLinkActive=" account-nav__item--active">Disponibilté</a></li>
            <li class="account-nav__item"><a >Mot de passe</a></li>
            </ul>
</div>
    </div>

  <div class="col-12 col-lg-9 mt-4 mt-lg-0">
    <div *ngIf="position == 1">
      <app-dashboardpres></app-dashboardpres>
   </div>

   <div *ngIf="position == 2">
     <app-garage></app-garage>
  </div>

  <div *ngIf="position == 3">
    <app-profilpres></app-profilpres>
  </div>

  <div *ngIf="position == 4">
    <app-disponibilte></app-disponibilte>
  </div>

</div>
  </div>
  <div class="block-space block-space--layout--before-footer"></div>

</div></div>
