<div class="card">
  <div class="card-header">
      <h5>Edit Profile</h5>
  </div>
  <div class="card-divider"></div>
  <div class="card-body card-body--padding--2">

      <form novalidate [formGroup]="form" #fform="ngForm" (ngSubmit)="onsubmitt()" *ngIf="showprestataireForm">
          <div class="row no-gutters">
              <div class="col-12 col-lg-7 col-xl-5">
                  <mat-form-field class="half-width">
                      <input matInput formControlName="firstNamepres" type="text" id="firstNamepres"
                          placeholder="First Name" required [(ngModel)]="press.firstNamepres">
                      <mat-error *ngIf="formErrors.firstNamepres">{{formErrors.firstNamepres}}</mat-error>
                  </mat-form-field>
                  <mat-form-field class="half-width">
                    <input matInput formControlName="cin" type="tel" placeholder="Numero CIN" pattern="[0-9]*" required [(ngModel)]="press.cin"  >
                    <mat-error *ngIf="formErrors.cin">{{formErrors.cin}}</mat-error>
                    </mat-form-field>

                  <mat-form-field class="half-width">
                      <input matInput formControlName="emailpres" type="email" id="emailpres"
                          placeholder="Email Address" required email [(ngModel)]="press.emailpres">
                      <mat-error *ngIf="formErrors.emailpres">{{formErrors.emailpres}}</mat-error>
                  </mat-form-field>


                <div class="form-group">

                    <label for="file">Photo</label>

                    <input  formControlName="photopres" id="file" type="file" class="form-control"
                        (change)="onFileChange($event)">

                    <div *ngIf="f.photopres.touched && f.photopres.invalid" class="alert alert-danger">

                        <div *ngIf="f.photopres.errors.required">Photo is required.</div>

                    </div>
                    <div *ngIf="press.photopres !== '';else contenu_pas_bon">
                      <img
                        src="http://localhost:8081/api/api/image/logo/{{press.photopres}}" class="rounded"
                        alt="Photo of a Shiba Inu" height="150" width="150"></div>
                    <ng-template #contenu_pas_bon> <img src="assets/images/avatars/avat.jpg" alt="" height="150" width="150">
                    </ng-template>
                </div>





              </div>


              <div class="col-12 col-lg-7 col-xl-1">
              </div>
              <div class="col-12 col-lg-7 col-xl-5">
                  <mat-form-field class="half-width">
                      <input matInput formControlName="lastNamepres" type="text" placeholder="Last Name" required
                          [(ngModel)]="press.lastNamepres">
                      <mat-error *ngIf="formErrors.lastNamepres">{{formErrors.lastNamepres}}</mat-error>
                  </mat-form-field>

                  <mat-form-field class="half-width">

                      <input matInput formControlName="telpres" type="tel" placeholder="Phone Number" pattern="[0-9]*"
                          required [(ngModel)]="press.telpres">
                      <mat-error *ngIf="formErrors.telpres">{{formErrors.telpres}}</mat-error>
                  </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput formControlName="adressepres" type="text" placeholder="adresse personnelle" required
                      [(ngModel)]="press.adressepres" >
                  <mat-error *ngIf="formErrors.adressepres">{{formErrors.adressepres}}</mat-error>
              </mat-form-field>

                <mat-form-field class="example-full-width" >
                  <mat-label>Specialisation</mat-label>
                  <mat-select matNativeControl id="specialisations" formControleName="specialisations"
                   [(ngModel)]="specialisathou"  [ngModelOptions]="{standalone: true}"
                  multiple (ngModelChange)="setSpecializationValue()" >
                    <mat-option *ngFor=" let space of specialisations"  [value]="space.name"   >
                      {{space.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                  <img [src]="imageSrc" *ngIf="imageSrc" style="height: 150px; width:150px">





              </div>


              <button type="submit" mat-button
                  class="btn btn-outline-danger mt-3">Save</button>&nbsp;&nbsp;
                  <br>


          </div>


      </form>
      <div class="alert alert-success example-width" *ngIf="isSuccessful">
        Profil is updated!
      </div>

  </div>
</div>
