<div class="block-space block-space--layout--divider-xs"></div>
<div class="block block-slideshow">
  <div class="container">
    <div class="block-slideshow__carousel">
      <div class="owl-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-4440px, 0px, 0px); transition: all 0.25s ease 0s; width: 7770px;">
           
         
            <div class="owl-item" style="width: 1110px;"><a class="block-slideshow__item" href="#"><span
                  class="block-slideshow__item-image block-slideshow__item-image--desktop"
                  style="background-image: url('/assets/images/slides/slide-3.jpg')"></span> <span
                  class="block-slideshow__item-image block-slideshow__item-image--mobile"
                  style="background-image: url('/assets/images/slides/slide-3-mobile.jpg')"></span> <span
                  class="block-slideshow__item-offer">Rendez-vous</span><span class="block-slideshow__item-title">Gérer
                  les demandes<br>de rendez-vous </span><span class="block-slideshow__item-details">accepter ou refuser
                  les demandes de rendez-vous<br>de clients afin de les prendre en charge. </span>
                    <a (click)="gotordv()" class="block-slideshow__item-button">accéder
                  </a></a></div>
            <div class="owl-item" style="width: 1110px;"><a class="block-slideshow__item" href="#"><span
                  class="block-slideshow__item-image block-slideshow__item-image--desktop"
                  style="background-image: url('/assets/images/slides/slide-2.jpg')"></span> <span
                  class="block-slideshow__item-image block-slideshow__item-image--mobile"
                  style="background-image: url('/assets/images/slides/slide-2-mobile.jpg')"></span> 
                  <span
                  class="block-slideshow__item-offer">Carage</span><span
                  class="block-slideshow__item-title">Gérer votre <br>carage </span><span
                  class="block-slideshow__item-details">Gérer les vehicules prise en charge<br>et mettre a jour
                  l'avancement de prestation,<br>vous pouver noter les clients et plus... </span><span
                  class="block-slideshow__item-button" >accéder </span></a></div>
           
           
        
          </div>
        </div>
        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
              aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span
              aria-label="Next">›</span></button></div>
        <div class="owl-dots"><button role="button"
            class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button>
        </div>
      </div>
    </div>
  </div>
</div>