<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
   <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon"><i class="material-icons">assignment</i></div>
            <h4 class="card-title">Demandes Clients</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <p-table class="table table-striped" [value]="userclient"   [scrollable]="true" scrollHeight="300px" >

                <ng-template pTemplate="header" >
                  <tr>

                    <th>UserName</th>
                    <th>Email</th>
                    <th>Date inscription</th>
                    <th class="text-right">Actions</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-clt >
                  <tr >

                    <td>{{clt.username}}</td>
                    <td>{{clt.email}}</td>
                    <td>{{clt.date_registration}}</td>
                    <td class="td-actions text-right">
                      <button mat-raised-button="" type="button" pTooltip="accepter" tooltipPosition="bottom" (click)="activateclient(clt.id)"
                        class="mat-raised-button mat-button-base btn btn-success btn-round">
                        <span class="mat-button-wrapper"><i class="material-icons">done</i></span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                      &nbsp;
                      <button mat-raised-button="" type="button" pTooltip="refuser" tooltipPosition="bottom" (click)="refuseclient(clt.id)"
                        class="mat-raised-button mat-button-base btn btn-danger btn-round"><span
                          class="mat-button-wrapper"><i class="material-icons">close</i></span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button></td>
                  </tr>




                  <!---->
                </ng-template>
                <ng-template pTemplate="summary">
                  <div class="p-d-flex p-ai-center p-jc-between">
                    Au total, il y a
                    {{userclient ? userclient.length : 0 }} demandes clients.
                  </div>
              </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon"><i class="material-icons">assignment</i></div>
            <h4 class="card-title">Demandes prestataire</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <p-table class="table table-striped" [value]="userprestataire"   [scrollable]="true" scrollHeight="200px" >
                <ng-template pTemplate="header" >
                  <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Date inscription</th>
                    <th class="text-right">Actions</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-pres>
                  <tr >
                    <td>{{pres.username}}</td>
                    <td>{{pres.email}}</td>
                    <td>{{pres.date_registration}}</td>
                    <td class="td-actions text-right">
                      <button mat-raised-button="" type="button" pTooltip="accepter" tooltipPosition="bottom" (click)="activateprestataire(pres.id)"
                        class="mat-raised-button mat-button-base btn btn-success btn-round">
                        <span class="mat-button-wrapper"><i class="material-icons">done</i></span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                      &nbsp;
                      <button mat-raised-button="" type="button" pTooltip="refuser" tooltipPosition="bottom" (click)="refuseprestataire(pres.id)"
                        class="mat-raised-button mat-button-base btn btn-danger btn-round"><span
                          class="mat-button-wrapper"><i class="material-icons">close</i></span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button></td>
                  </tr>






                  <!---->
                </ng-template>
                <ng-template pTemplate="summary">
                  <div class="p-d-flex p-ai-center p-jc-between">
                    Au total, il y a
                    {{userprestataire ? userprestataire.length : 0 }} demandes prestataires.
                  </div>
              </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
