<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon"><i class="material-icons">assignment</i></div>
            <h4 class="card-title">Demandes Clients</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Date inscription</th>
                    <th class="text-right">Actions</th>
                  </tr>
                </thead>
                <tbody *ngIf="userclient === null">
                  <tr>                    <td class="text-center"> aucune registration récente</td>

                  </tr>
                </tbody>
                <tbody *ngIf="userclient !== null">
                  <tr *ngFor="let clt  of userclient">
                    <td class="text-center"> {{clt.id}}</td>
                    <td>{{clt.username}}</td>
                    <td>{{clt.email}}</td>
                    <td>{{clt.date_registration}}</td>
                    <td class="td-actions text-right">
                      <button mat-raised-button="" type="button" pTooltip="accepter" tooltipPosition="bottom" (click)="activateclient(clt.id)"
                        class="mat-raised-button mat-button-base btn btn-success btn-round">
                        <span class="mat-button-wrapper"><i class="material-icons">done</i></span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                      &nbsp;
                      <button mat-raised-button="" type="button" pTooltip="refuser" tooltipPosition="bottom" (click)="refuseclient(clt.id)"
                        class="mat-raised-button mat-button-base btn btn-danger btn-round"><span
                          class="mat-button-wrapper"><i class="material-icons">close</i></span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button></td>
                  </tr>




                  <!---->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon"><i class="material-icons">assignment</i></div>
            <h4 class="card-title">Demandes prestataire</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Date inscription</th>
                    <th class="text-right">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pres of userprestataire">
                    <td class="text-center"> {{pres.id}}</td>
                    <td>{{pres.username}}</td>
                    <td>{{pres.email}}</td>
                    <td>{{pres.date_registration}}</td>
                    <td class="td-actions text-right">
                      <button mat-raised-button="" type="button" pTooltip="accepter" tooltipPosition="bottom" (click)="activateprestataire(pres.id)"
                        class="mat-raised-button mat-button-base btn btn-success btn-round">
                        <span class="mat-button-wrapper"><i class="material-icons">done</i></span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                      &nbsp;
                      <button mat-raised-button="" type="button" pTooltip="refuser" tooltipPosition="bottom" (click)="refuseprestataire(pres.id)"
                        class="mat-raised-button mat-button-base btn btn-danger btn-round"><span
                          class="mat-button-wrapper"><i class="material-icons">close</i></span>
                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button></td>
                  </tr>






                  <!---->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
